@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-800 rounded;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-700 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-600;
}